@import '../../scss/mixins/mixins-breackpoints';

.is-text {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: auto;

  &--display {
    font-weight: 400;
    font-size: 2.25rem; //36px
    line-height: 44px;

    @include media-breakpoint-up(md) {
      font-size: 2.813rem; //45px
      line-height: 52px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3.563rem; //57px
      line-height: 64px;
      letter-spacing: -0.25px;
    }
  }

  &--title {
    font-size: 0.875rem; //14px
    line-height: 20px;
    letter-spacing: 0.1px;

    @include media-breakpoint-up(md) {
      font-size: 1rem; //16px
      line-height: 24px;
    }

    @include media-breakpoint-up(xl) {
      font-weight: 400;
      font-size: 1.375rem; //22px
      line-height: 28px;
    }
  }

  &--label {
    font-size: 0.75rem; //12px
    line-height: 16px;
    letter-spacing: 0.5px;

    @include media-breakpoint-up(md) {
      font-size: 0.875rem; //14px
    }

    @include media-breakpoint-up(xl) {
      font-size: 1rem; //16 px
    }
  }

  &--body {
    font-weight: 400;
    font-size: 0.75rem; // 12px

    @include media-breakpoint-up(md) {
      font-size: 0.875rem; //14px
      line-height: 20px;
      letter-spacing: 0.25px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1rem; //16px
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    &--secondary {
      font-weight: 400;
      font-size: 0.75rem; // 12px

      @include media-breakpoint-up(lg) {
        font-size: 0.875rem; //14px
        line-height: 20px;
        letter-spacing: 0.25px;
      }
    }
  }

  &--button {
    font-size: 0.875rem; //14px
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  &--caption {
    font-weight: 400 !important;
    font-size: 0.75rem !important; //12px
  }

  &--center {
    text-align: center;
  }

  &--block {
    display: block;
  }

  &--stepper {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &--bg {
      background-color: var(--mgr-vctn-color-dark-on-surface);
    }

    &--inline-flex {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}
