:root {
  --color-primary: #984063;
  --color-primary-60: #F6602D;
  --color-secondary: #74565F;
  --color-secondary-container: #FFD9E3;
  --color-tertiary: #7D5635;
  --color-tertiary-container: #FFDCC0;
  --color-tertiary-95: #FFEDE0;
  --color-neutral: #645C5E;
  --color-outline: #A08C8750;
  --color-neutral-20: #2F3033;
  --color-neutral-30: #464649;
  --color-neutral-40: #5E5E61;
  --color-neutral-99: #FCFCFC;
  --color-neutral-variant: #695B5E;
  --color-neutral-variant-10: #251915;
  --color-neutral-variant-20: #3B2D29;
  --color-neutral-variant-30: #53433F;
  --color-neutral-variant-40: #6C5B56;
  --color-error: #BA1B1B;
  --color-error-90: #FF897A;
  --color-dark-primary: #FFB0CB;
  --color-dark-secondary: #B4C5FF;
  --color-dark-tertiary: #EFBC94;
  --color-dark-read-only: #000000;
  --color-dark-on-bg: #1B1B1D;
  --color-dark-bg: #1B1B1D;
  --color-light-read-only: #FFFFFF;
  --color-dark-tertiary: #EFBC94;
  --color-dark-on-secondary-container: #FFD9E3;
  --color-dark-on-surface: #EBDFE1;
  --color-white: #FFFFFF;
  --color-background: #E5E5E5;
  --color-on-primary-container: #3F001E;
  --color-primary60: #F6602D;
  --color-dark-primary: #FFB59D;
  --color-light-tertiary: #DAE1FF;
  --color-secondary40: #004FE7;
  --color-dark-inverse-surface: #E4E2E6;
  --color-dark-tertiary: #B2C5FF;
  --color-light-tertiary: #3D5AA9;
  --color-primary40: #B03000;
  --color-secondary70: #8CA8FF;
  --color-second-white: #F6F9EC;
}
:root {
  // primary
  --color-dark-primary: #FFB59D;
  --color-dark-on-primary: #5F1600;
  --color-dark-primary-container: #862300;
  --color-dark-on-primary-container: #FFDBCF;
  // secondary
  --color-dark-secondary: #B4C5FF;
  --color-dark-on-secondary: #00277F;
  --color-dark-secondary-container: #003AB1;
  --color-dark-on-secondary-container: #DAE1FF;
  // tertiary
  --color-dark-tertiary: #B2C5FF;
  --color-dark-on-tertiary: #002A78;
  --color-dark-tertiary-container: #23428F;
  --color-dark-on-tertiary-container: #DAE1FF;
  // error
  --color-dark-error: #FFB4A9;
  --color-dark-error-container: #930006;
  --color-dark-on-error: #680003;
  --color-dark-on-error-container: #FFDAD4;
  // bg
  --color-dark-bg: #1B1B1D;
  --color-dark-on-bg: #E4E2E6;
  //surface
  --color-dark-surface: #1B1B1D;
  --color-dark-on-surface: #E4E2E6;
  // outlined
  --color-dark-outline: #A08C8750;
  // whiteColor
  --color-dark-white: #FFFFFF;
  --color-ligth: #85736E;
  //neutral
  --color-neutral-10: #1B1B1D;
  --color-neutral-20: #2F3033;
  --color-neutral-30: #464649;
  --color-neutral-40: #5E5E61;
  --color-neutral-50: #77777A;
  --color-neutral-70: #ACABAF;
  //neutrañ-variant
  --color-neutral-variant-10: #251915;
  --color-neutral-variant-20: #3B2D29;
  --color-neutral-variant-30: #53433F;
  --color-neutral-variant-40: #6C5B56;
}

